<!DOCTYPE html>
<html>
  <head>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>Welcome to <%= title %> </h1>
    <p>Amazon RDS Endpoint: <i> <%= hostname %> </i></p>
    <p>User: <i><%= username %></i></p>
    <p>Password: <i><%= password %></i></p>
    <p>Port: <i><%= port %></i></p>
    <p>Database: <i><%= database %></i></p>

    <p>Connection: <%= connectionerror %></p>
    <p>Databases: <%= databases %></p>
</body>
</html>
